@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/02-tools.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div style="clear: both">
        asd</div>
    <div class="clearfix">
        <div style="float: left; background: #ff0">
            asds</div>
    </div>
    <div style="background: #f00">
        sd</div>
</body>
</html>
