<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/_all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/01-jquery-1.5.1.min.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
