*
{
    font-family: "Segoe UI" , "Microsoft Sans Serif" , Geneva, Arial, sans-serif;
}

body
{
    background: #edf2e4;
    font-size: 13px;
}

h1
{
    font-size: 30px;
    font-weight: bold;
}
a
{
    color: #00c;
}
a:hover
{
    color: #00f;
}
a:active
{
    color: #c00;
}

.container-inner
{
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;
}


/* Footer */
#footer a, #footer
{
    color: #4f7441;
}
#footer
{
    margin: 12px 10px;
    font-size: 10px;
}
#footer-logo
{
    display: block;
}
#footer-by
{
    margin: 8px 0 0 4px;
    font-family: "Lucida Grande" , Arial, Sans-Serif;
}


/* Content */
#content
{
    clear:both;
    background: #fff;
    padding: 0 10px 60px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
